<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contact Form</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

   <form method="post" action="{% url 'contact' %}">
       {% csrf_token %}
       <label for="id_name">Your Name:</label>
       <input type="text" name="name" id="id_name">

       <label for="id_email">Your Email:</label>
       <input type="email" name="email" id="id_email">

       <label for="id_message">Your Message:</label>
       <textarea name="message" id="id_message"></textarea>

       <button type="submit">Send</button>
   </form>
</body>
</html>