<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Main Page</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
   <div class="container">
       <h1>Welcome to Our Website</h1>
       <p>This is the main page of our website.</p>

       <!-- Contact 페이지로 이동하는 링크 -->
       <a href="{% url 'contact' %}" class="btn">Go to Contact Page</a>
   </div>
</body>
</html>