<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Thank You</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'thanks.css' %}">

</head>
<body>
   <div class="container">
       <h1>Thank You for Your Message!</h1>
       <p>We appreciate you reaching out to us. We'll get back to you soon.</p>

       <!-- 메인 페이지로 돌아가는 링크 -->
       <a href="{% url 'main' %}" class="btn">Back to Home</a>
   </div>
</body>
</html>